#mainImg {
  width: 300px;
  height: 300px;
}

.main {
  /* background-color: #04ADBF; */
  margin-top: 50px !important;
  border-radius: 20px;
}


/* body {
  background: radial-gradient(#F2E0D0, white);
  background-size: cover !important;
  background-position: center !important;
  height: 100% !important;
} */

body,
html {
  height: 100%;
}

.mainText{
  color: #0D0D0D !important;
  font-family: "Montserrat", sans-serif!important;
}

.myName{
  font-family: "Montserrat", sans-serif!important;
  color: #081585
}
 div.background{
   padding-bottom: 200px;
 }