footer {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #081585 !important;
  color: white !important;
  text-align: center!important;
  height: 50px !important;
  z-index: 10;
}

.footer{
  text-align: center;
}