#rhlogo {
  position: relative;
  top: 15px;
}

.navItem {
  color: #0D0D0D !important;
  font-family: "Montserrat", sans-serif;
  
}

nav .sidenav-trigger {
  color: #0D0D0D;
}

.portfolioLink{
  color: #E7C515!important;
}

.contactLink{
  color: #CE1C00!important;
}
